@import 'fonts';
@import 'normalize';
@import 'animations';

:root {
  color-scheme: dark;
  accent-color: $color__blue;
  outline-color: $color__blue;
}

::selection {
  color: $color__dark;
  background: $color__white;
}

* {
  box-sizing: border-box;
}

html {
  @include screen('sm') {
    scroll-padding-top: $header__height_sm;
  }
  @include screen('md') {
    scroll-padding-top: $header__height_md;
  }
  @include screen('lg') {
    scroll-padding-top: $header__height_lg;
  }
}

body {
  color: $color__white;
  background-color: $color__dark;
  font-family: $font__default;
  font-size: $font-size_default;

  &::-webkit-scrollbar {
    width: 10px;
    background-color: $color__dark;
  }
  &::-webkit-scrollbar-track {
    border: none;
    background-color: $color__dark;
  }
  &::-webkit-scrollbar-thumb {
    background-color: rgba(255, 255, 255, .4);
  }

  @include screen('sm') {
    font-weight: 300;
  }
}

a {
  color: inherit;
}

.app-container {
  &_loading {
    cursor: progress;
  }
}

.icon {
  svg {
    transition: color .15s ease-in-out;
  }
}

.page-enter-active,
.page-leave-active {
  transition: all .3s;
}
.page-enter-from,
.page-leave-to {
  opacity: 0;
  filter: blur(1rem);
}
.layout-enter-active,
.layout-leave-active {
  transition: all .3s;
}
.layout-enter-from,
.layout-leave-to {
  transform: translateY(0);
  opacity: 0;
  filter: blur(1rem);
}

.sr-only {
  position: absolute;
  left: -9999px;
}

.info-section {
  @include screen('sm') {
    padding: $content__indent-x_sm;
  }
  @include screen('md') {
    padding: $content__indent-x_md;
  }
  @include screen('lg') {
    padding: $content__indent-x_lg;
  }
}

.field {
  display: block;
  width: 100%;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid $color__white;
  height: $control__size;
  line-height: $control__size;
  transition: border .15s ease-in-out;

  &::placeholder {
    color: $color__white;
  }

  &:focus {
    outline: none;
    border-color: $color__blue;
  }
}

textarea.field {
  height: auto;
  min-height: $control__size;
  line-height: 1.2;
  resize: none;
}

.btn {
  background-color: $color__blue;
  color: $color__dark;
  border: none;
  height: $control__size;
  min-width: $control__size;
  font-size: $btn__fs;
  cursor: pointer;
  transition: background-color .15s ease-in-out;

  &:hover,
  &:focus {
    background-color: $color__white;
  }
}