@use 'sass:math';
@import 'fonts';
@import 'normalize';
@import 'animations';

:root {
  color-scheme: dark;
  accent-color: $color__blue;
  outline-color: $color__blue;
}

::selection {
  color: $color__dark;
  background: $color__white;
}

* {
  box-sizing: border-box;
}

html {
  @include screen('sm') {
    scroll-padding-top: $header__height_sm;
  }
  @include screen('md') {
    scroll-padding-top: $header__height_md;
  }
  @include screen('lg') {
    scroll-padding-top: $header__height_lg;
  }
}

body {
  color: $color__white;
  background-color: $color__dark;
  font-family: $font__default;
  font-size: $font-size_default;

  &::-webkit-scrollbar {
    width: 10px;
    background-color: $color__dark;
  }
  &::-webkit-scrollbar-track {
    border: none;
    background-color: $color__dark;
  }
  &::-webkit-scrollbar-thumb {
    background-color: rgba(255, 255, 255, .4);
  }

  @include screen('sm') {
    font-weight: 300;
  }
}

a {
  color: inherit;
}

.app-container {
  &_loading {
    cursor: progress;
  }
}

.icon {
  svg {
    transition: color .15s ease-in-out;
  }
}

.page-enter-active,
.page-leave-active {
  transition: all .3s;
}
.page-enter-from,
.page-leave-to {
  opacity: 0;
  filter: blur(1rem);
}
.layout-enter-active,
.layout-leave-active {
  transition: all .3s;
}
.layout-enter-from,
.layout-leave-to {
  transform: translateY(0);
  opacity: 0;
  filter: blur(1rem);
}

.sr-only {
  position: absolute;
  left: -9999px;
}

.info-section {
  @include screen('sm') {
    padding: $content__indent-x_sm;
  }
  @include screen('md') {
    padding: $content__indent-x_md;
  }
  @include screen('lg') {
    padding: $content__indent-x_lg;
  }
}

.form {
  display: flex;
  flex-direction: column;
  gap: clamp(20px, 2.1vw, 40px);

  &__item {
    display: flex;
    flex-direction: column;
    gap: clamp(14px, 1vw, 20px);

    &_large {
      gap: clamp(18px, 1.6vw, 30px);
    }
  }
}

.field {
  display: block;
  width: 100%;
  background-color: transparent;
  border: 1px solid $color__white;
  height: $control__size;
  line-height: $control__size;
  padding: 20px;
  transition: border .15s ease-in-out;
  font-size: clamp(14px, 1.2vw, 20px);

  &::placeholder {
    color: $color__white;
  }

  &:focus {
    outline: none;
    border-color: $color__blue;
  }
}

textarea.field {
  height: auto;
  min-height: $control__size;
  line-height: 1.2;
  resize: none;
}

.label {
  display: block;
  font-size: clamp(16px, 1.5vw, 25px);
  font-weight: 600;
  line-height: 1;
}

.checkbox-row {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: clamp(14px, 1.2vw, 20px);
  cursor: pointer;
}

.btn {
  display: block;
  background-color: $color__blue;
  color: $color__dark;
  border: none;
  height: $control__size;
  line-height: $control__size;
  min-width: $control__size;
  padding-left: math.div($control__size, 2);
  padding-right: math.div($control__size, 2);
  font-size: $btn__fs;
  cursor: pointer;
  transition: background-color .15s ease-in-out;
  text-align: center;
  text-decoration: none;

  &_xs {
    height: $control__size_xs;
    line-height: $control__size_xs;
    min-width: $control__size_xs;
    padding-left: math.div($control__size_xs, 2);
    padding-right: math.div($control__size_xs, 2);
    font-size: math.div($btn__fs, 1.5);
  }

  &_sm {
    height: $control__size_sm;
    line-height: $control__size_sm;
    min-width: $control__size_sm;
    padding-left: math.div($control__size_sm, 2);
    padding-right: math.div($control__size_sm, 2);
    font-size: math.div($btn__fs, 1.2);
  }

  &_icon {
    padding-left: 0;
    padding-right: 0;
  }

  &:hover,
  &:focus {
    background-color: $color__white;
  }
}