.project-views {
  list-style: none;
  margin: 0;
  padding: 0;

  &__item {
    & + * {
      margin-top: 10.8vw;
    }
  }
}
.view-item {
  margin: 0;

  &__header {
    padding-bottom: 1.6vw;
    border-bottom: 1px solid;
  }
  &__title {
    margin: 0;
    font-size: clamp(26px, 5vw, 80px);
  }
  &__subtitle {
    margin: 1vw 0 0;
    font-size: clamp(12px, 1.6vw, 25px);
    color: $color__gray;
  }
  &__body {
    margin: 2vw 0 0;
    display: block;
  }
  &__images-items {
    //
  }
}