.project-preview {
  display: block;
  text-decoration: none;
  color: inherit;
  transition: color .2s ease-in;

  &_unlink {
    pointer-events: none;
  }

  &:hover {
    color: $color__blue;
  }

  &__inner {
    margin: 0;
    padding: 0;
  }
  &__img {
    display: flex;
    width: 100%;
    height: auto;
    aspect-ratio: 6 / 5;
    object-fit: contain;
    background-color: $color__white;
    user-select: none;
    pointer-events: none;

    &:deep(img) {
      align-self: center;
      object-fit: cover;
      min-width: 100%;
      min-height: 100%;
    }
  }

  &__title {
    margin: clamp(5px, 2vw, 2vw) 0 0;
    font-weight: 500;
    font-size: clamp(16px, 2.4vw, 40px);
    text-transform: uppercase;
    line-height: 1.3;
  }
}