.page-project {
  &__title {
    font-size: clamp(36px, 6vw, 100px);
    text-transform: uppercase;
    font-weight: 700;
    line-height: 1;
    margin: 1vw 0 0;
  }

  &__time {

  }

  &__steps {

  }

  &__back {
    margin-top: 8vw;
    font-size: clamp(14px, 2vw, 25px);
    text-transform: uppercase;

    a {
      text-decoration: none;
      color: inherit;
    }
  }

  &__content {
    margin-top: 5vw;
  }
}

.project-time {
  display: flex;
  gap: clamp(60px, 10vw, 180px);

  &__dates {
    width: 50%;
  }
  &__prices {
    width: 50%;
  }

  &__title {
    margin: 0;
    font-size: clamp(14px, 2vw, 25px);
    color: $color__gray;
    font-weight: 400;
  }
  &__value {
    display: block;
    font-size: clamp(30px, 8vw, 90px);
    text-transform: uppercase;
  }
}

.project-steps {
  &__title {
    margin: 0;
    font-size: clamp(14px, 2vw, 25px);
    color: $color__gray;
    font-weight: 400;
  }
  &__list {
    display: flex;
    flex-wrap: wrap;
    gap: clamp(20px, 8vw, 80px);
  }
  &__list-item {
    min-width: 220px;
    font-size: clamp(14px, 2vw, 20px);
    color: $color__gray;

    &::marker {
      content: counter(list-item) ' ';
      font-size: clamp(16px, 4vw, 40px);
      font-family: $font__decor;
      font-weight: 700;
      color: $color__white;
    }
  }
}