.page-project {
  &__title {
    font-size: clamp(36px, 6vw, 100px);
    text-transform: uppercase;
    font-weight: 700;
    line-height: 1;
    margin: 1vw 0 7.6vw;
  }

  &__time {

  }

  &__steps {
    margin-top: clamp(30px, 6vw, 50px);
  }

  &__back {
    margin-top: clamp(30px, 6vw, 6vw);
    font-size: clamp(14px, 2vw, 25px);
    text-transform: uppercase;

    a {
      text-decoration: none;
      color: inherit;
    }
  }

  &__content {
    margin-top: clamp(30px, 6vw, 6vw);
  }

  &__more-projects {
    margin-top: clamp(50px, 9vw, 9vw);
  }
}