services:
  strapi:
    environment:
      NODE_ENV: production
    ports: []
    restart: unless-stopped
    build:
      context: ./backend
      args:
        MODE: production
    command: "node node_modules/@strapi/strapi/bin/strapi.js start"
    networks:
      - traefik
    volumes:
      - ./backend/.tmp:/app/.tmp
      - ./backend/src:/app/src
      - ./backend/config:/app/config
      - ./backend/public:/app/public
      - ./backend/tmp:/tmp
      - ./backend/yarn-cache:/root/.yarn
#    depends_on:
#      - postgres

  nuxt:
    environment:
      NODE_ENV: production
      LINKEDIN_USER_URN: ${LINKEDIN_USER_URN}
      RAPIDAPI_KEY: ${RAPIDAPI_KEY}
      LINKEDIN_USER_NAME: ${LINKEDIN_USER_NAME}
    ports: []
    restart: unless-stopped
    build:
      context: ./frontend
      args:
        MODE: production
    command: "node .output/server/index.mjs"
    networks:
      - traefik
    volumes:
      - ./frontend/public:/app/public:ro

#volumes:
#  pgdata:

networks:
  traefik:
    external: true
