@import 'assets/style/mixins/project';

.project-uiux {
  &__pages {

  }

  & &__fonts {
    margin-top: 8vw;
  }

  & &__colors {
    margin-top: 4.7vw;

    @include colors-block-indent();
  }

  & &__other-pages {
    margin-top: 8vw;
  }

  & &__mobile-pages {
    margin-top: 8vw;
  }
}

.uiux-pages {
  display: block;
  list-style: none;
  margin: 0;
  padding: 0;

  @include screen('md-up') {
    column-count: 2;
    gap: clamp(20px, 6vw, 100px);
  }

  &__item {
    display: inline-block;
    width: 100%;

    & + * {
      margin-top: clamp(20px, 6vw, 100px);
    }

    &_first-two {
      @include screen('md-up') {
        margin-top: clamp(60px, 18vw, 300px);
      }
    }
  }
}

.uiux-page {
  &__title {
    margin: 0;
    font-weight: 500;
    font-size: clamp(16px, 2.4vw, 40px);
    text-transform: uppercase;
    line-height: 1;
  }

  &__subtitle {
    margin: clamp(10px, 1vw, 20px) 0 0;
    font-weight: 500;
    font-size: clamp(14px, 2vw, 25px);
    color: $color__gray;
    line-height: 1;
  }

  &__images {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  &__images-item {
    margin-top: clamp(15px, 2.5vw, 40px);
  }

  &__images-img {
    margin: 0;

    img {
      display: block;
      width: 100%;
    }
  }
}