.page-posts {
  max-width: 1200px;

  &__title {
    font-weight: 700;
    font-size: clamp(36px, 6vw, 100px);
    text-transform: uppercase;
    line-height: 1;
    text-align: right;
    margin: 1vw 0 0;
  }
}
