$count-elements: 2;
$offset: 20vw;
$move-initial: calc(-25% + $offset);
$move-final: calc(-50% + $offset);

.marquee-block {
  overflow: hidden;
  position: relative;

  &_reverse & {
    &__inner {
      transform: translate3d($move-final, 0, 0);
      animation-name: marquee-reverse;
    }
  }

  &__inner {
    width: fit-content;
    height: 100%;
    position: relative;
    display: flex;
    align-items: center;
    white-space: nowrap;
    transform: translate3d($move-initial, 0, 0);
    animation-name: marquee;
    animation-timing-function: linear;
    animation-duration: 18s;
    animation-iteration-count: infinite;
    animation-play-state: running;
  }
}

@keyframes marquee {
  0% {
    transform: translate3d($move-initial, 0, 0);
  }
  100% {
    transform: translate3d($move-final, 0, 0);
  }
}

@keyframes marquee-reverse {
  0% {
    transform: translate3d($move-final, 0, 0);
  }
  100% {
    transform: translate3d($move-initial, 0, 0);
  }
}