.more-projects {
  &__title {
    margin: 0;
    font-size: clamp(26px, 5vw, 80px);
  }

  &__wrap-list {
    margin-top: 4.8vw;
    width: auto;

    @include screen('sm') {
      margin-left: -$content__indent-x_sm;
      margin-right: -$content__indent-x_sm;
    }
    @include screen('md') {
      margin-left: -$content__indent-x_md;
      margin-right: -$content__indent-x_md;
    }
    @include screen('lg') {
      margin-left: -$content__indent-x_lg;
      margin-right: -$content__indent-x_lg;
    }
  }

  &__list {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: clamp(20px, 4vw, 70px);
  }

  &__list-item {
    width: 680px;
    max-width: 100%;
    flex-shrink: 0;
    box-sizing: content-box;

    &:first-child {
      @include screen('sm') {
        padding-left: $content__indent-x_sm;
      }
      @include screen('md') {
        padding-left: $content__indent-x_md;
      }
      @include screen('lg') {
        padding-left: $content__indent-x_lg;
      }
    }
    &:last-child {
      @include screen('sm') {
        padding-right: $content__indent-x_sm;
      }
      @include screen('md') {
        padding-right: $content__indent-x_md;
      }
      @include screen('lg') {
        padding-right: $content__indent-x_lg;
      }
    }

    a {
      text-decoration: none;
      color: inherit;
    }
  }

  &__item-preview {

  }
}