.page-main {
  &__section-head {
    overflow: hidden;
  }

  &__section-info {
    //
  }

  &__title {
    margin: 0;
  }
}

.title-section {
  &__row  {
    margin: 0;
    padding: 0;
    display: block;
    font-size: clamp(68px, 8.9vw, 170px);
    font-style: normal;
    font-weight: 700;
    text-decoration: none;
    text-transform: uppercase;
    line-height: 1;

    &_1 {
      //
    }
    &_2 {
      margin-top: clamp(5px, 2vw, 60px);

      @include screen('sm') {
        text-indent: -15px;
        margin-right: 0;
        margin-left: 0;
      }
      @include screen('md') {
        margin-right: $content__indent-x_md;
      }
      @include screen('md-up') {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        white-space: nowrap;
      }
      @include screen('lg') {
        margin-right: $content__indent-x_lg;
      }

      &__sub-small {
        font-family: $font__default;
        font-size: clamp(36px, 6vw, 100px);
        font-weight: 700;
        white-space: nowrap;

        @include screen('sm') {
          font-size: clamp(40px, 11vw, 68px);
          margin-left: 30px;
          margin-top: 10px;
        }
        @include screen('md-up') {
          margin-left: clamp(20px, 3vw, 60px);
        }
      }
    }
    &_3 {
      margin-top: clamp(20px, 3.2vw, 60px);

      @include screen('sm') {
        text-indent: -15px;
      }
    }
    &_4 {
      margin-top: clamp(15px, 3.2vw, 60px);
      display: flex;
      align-items: flex-end;

      @include screen('sm') {
        margin-left: $content__indent-x_sm;
        margin-right: $content__indent-x_sm;
      }
      @include screen('md') {
        margin-left: $content__indent-x_md;
      }
      @include screen('lg') {
        margin-left: $content__indent-x_lg;
      }

      &__sub-small {
        font-family: $font__default;
        font-size: clamp(16px, 2.1vw, 40px);
        flex-shrink: 0;
        font-weight: 400;
        line-height: 1.3;
        text-transform: none;
        margin-bottom: 2%;

        @include screen('sm') {
          max-width: 70%;
          margin-left: auto;
        }
        @include screen('md-up') {
          margin-right: clamp(20px, 3vw, 50px);
          max-width: 28vw;
        }
      }

      &__sub-large {
        white-space: nowrap;

        @include screen('sm') {
          display: none;
        }
      }
    }
  }
}

.row-title-3 {
  &__marquee {
    @include screen('sm') {
      display: none;
    }
  }
  &__static {
    @include screen('md-up') {
      display: none;
    }
  }
  &__static-small {
    margin-top: 5px;
    margin-left: 60px;
  }
}

.info-section {
  margin-top: clamp(50px, 4vw, 140px);

  @include screen('sm') {
    padding: $content__indent-x_sm;
  }
  @include screen('md') {
    padding: $content__indent-x_md;
  }
  @include screen('lg') {
    padding: $content__indent-x_lg;
  }

  &__title {
    margin: 0;
    padding: 0;
    font-weight: 700;
    font-size: clamp(30px, 5.3vw, 100px);
    text-transform: uppercase;

    & + [class] {
      margin-top: 40px;
    }
  }

  &__description {
    margin: 0;
    padding: 0;
    font-size: clamp(14px, 1.82vw, 25px);
    font-weight: 400;
    max-width: 875px;

    & + [class] {
      margin-top: 5.3vw;
    }
  }

  &__details {
    p {
      margin: 0;
    }
    ul {
      margin: 0;
      padding-left: 0 0 0 clamp(10px, 1.5vw, 30px);

      & > li {
        & + * {
          margin-top: clamp(4px, .5vw, 20px);
        }
      }
    }
  }

  &__portfolio {
    margin-top: 10vw;
  }
}

.info-details {
  @include  screen('md-up') {
    display: flex;
    flex-wrap: wrap;
  }

  &__one {
    width: auto;

    @include  screen('md-up') {
      max-width: 50%;
    }
  }
  &__two {
    width: auto;

    @include  screen('sm') {
      margin-top: 30px;
    }
    @include  screen('md-up') {
      max-width: 50%;
      padding-left: 7vw;
    }
  }

  &__title {
    font-size: clamp(20px, 4vw, 60px);
    text-transform: uppercase;

    & + * {
      margin-top: clamp(12px, 4vw, 40px);
    }
  }
}

.info-important {
  justify-self: flex-end;
  width: calc(100% - 20px);
  margin-top: 5vw;
  margin-left: auto;
  background: $color__white;
  color: $color__dark;
  padding: max(2vw, 20px);

  @include screen('sm') {
    margin-right: -$content__indent-x_sm;
    margin-left: 0;
    width: auto;
  }
  @include screen('md') {
    margin-right: -$content__indent-x_md;
    max-width: 80%;
    margin-left: auto;
  }
  @include  screen('md-up') {
    display: flex;
    align-items: center;

    &__title {
      & + * {
        margin: 0 0 0 2.8vw;
      }
    }
  }
  @include screen('lg') {
    margin-right: -$content__indent-x_lg;
    max-width: 73%;
    margin-left: auto;
  }

  &__title {
    font-size: clamp(20px, 4vw, 60px);
    text-transform: uppercase;
    white-space: nowrap;
  }
}