.page-main {
  &__section-head {

  }

  &__section-info {

  }

  &__section-portfolio {

  }

  &__title {
    font-family: $font__decor;
    font-style: normal;
    font-weight: 700;
    font-size: 170px;
    text-transform: uppercase;
    margin: 0;
  }

  &__title-sub {
    font-family: $font__default;
    font-size: 100px;
    font-style: normal;
    font-weight: 700;
    text-transform: uppercase;
    margin: 0;
    white-space: nowrap;
  }

  &__title-two {
    display: flex;
  }
  &__title-two-sub {
    white-space: nowrap;
  }
}