.project-mobile {
  &__pages {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  &__pages-item {
    //
  }

  & &__fonts {
    margin-top: 80px;
  }

  & &__colors {
    margin-top: 80px;
  }
}

.page-item {
  &__header {
    border-bottom: 1px solid;
  }
  &__title {
    margin: 0;
    font-size: clamp(26px, 5vw, 80px);
  }
  &__subtitle {
    margin: 0;
    font-size: clamp(12px, 1.6vw, 25px);
    opacity: .6;
  }
  &__images-items {

  }
}

.fonts-list {
  list-style: none;
  margin: 0;
  padding: 0;

  &__item {
    font-size: clamp(30px, 6vw, 120px);
    text-transform: uppercase;
    font-weight: 700;
  }
}

.colors-list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: flex-end;
  gap: 80px;

  &__item {

  }
  &__item-color {
    display: block;
    width: 158px;
    height: 158px;
  }
  &__item-title {
    margin-top: 20px;
    font-size: clamp(12px, 1.6vw, 25px);
    opacity: .6;
  }
}