$header__height_sm: 65px;
$header__height_md: 50px;
$header__height_lg: 93px;

$content__indent-x_sm: 20px;
$content__indent-x_md: 20px;
$content__indent-x_lg: 60px;

$control__size: 56px;
$btn__fs: 20px;