$mobile: 360px;
$tablet: 768px;
$desktop: 1024px;

$screen-and: 'only screen and';
$media: (
  'sm': '#{$screen-and} (max-width: #{$tablet - 1})',
  'md': '#{$screen-and} (min-width: #{$tablet}) and (max-width: #{$desktop - 1})',
  'md-down': '#{$screen-and} (max-width: #{$desktop - 1})',
  'md-up': '#{$screen-and} (min-width: #{$tablet})',
  'lg': '#{$screen-and} (min-width: #{$desktop})',
);
