.project-colors {
  &__list {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: flex-end;
    gap: clamp(15px, 4vw, 80px);
  }

  &__item {
    //
  }

  &__item-color {
    display: block;
    width: clamp(50px, 8.3vw, 158px);
    height: clamp(50px, 8.3vw, 158px);
  }

  &__item-title {
    margin-top: 20px;
    font-size: clamp(12px, 1.6vw, 25px);
    color: $color__gray;
  }
}