.page-reviews {
  padding-top: 0;

  &__title {
    font-weight: 700;
    font-size: clamp(36px, 6vw, 100px);
    text-transform: uppercase;
    line-height: 1;
    text-align: right;
    margin: 1vw 0 0;
  }

  &__wrap {
    margin-top: clamp(40px, 3.6vw, 80px);
    display: flex;
    gap: 60px;
  }

  @include screen('md-down') {
    &__wrap {
      flex-direction: column-reverse;
    }
  }
  @include screen('lg') {
    &__list {
      width: 60%;
      flex-grow: 1;
    }

    &__form {
      width: 40%;

      h3 {
        margin-top: 0;
      }
    }
  }
}
