.page-donate {
  &__title {
    font-weight: 700;
    font-size: clamp(36px, 6vw, 100px);
    text-transform: uppercase;
    line-height: 1;
    text-align: right;
    margin: 1vw 0 0;
  }

  &__description {
    font-size: clamp(16px, 1.3vw, 20px);
    font-weight: 300;
    line-height: 1.6;
    max-width: 720px;
    margin: clamp(20px, 2.1vw, 40px) 0 clamp(30px, 3.4vw, 60px);

    @include screen('sm') {
      padding-left: $content__indent-x_sm;
    }
    @include screen('md') {
      padding-left: $content__indent-x_md;
    }
    @include screen('lg') {
      padding-left: $content__indent-x_lg;
    }
  }
}
