.page-contacts {
  overflow: hidden;

  &__title {

  }
  &__lis {

  }
}

.page-title {
  font-size: clamp(46px, 8.9vw, 170px);
  text-transform: uppercase;
  white-space: nowrap;
  line-height: 1;
  margin: 0;

  @include screen('sm') {
    padding-left: $content__indent-x_sm;
  }
  @include screen('md') {
    padding-left: $content__indent-x_md;
  }
  @include screen('lg') {
    padding-left: $content__indent-x_lg;
  }

  &__item {
    font-family: $font__decor;

    &:first-child {
      color: $color__white;
    }
  }
}

.contacts-list {
  list-style: none;
  margin: 0;
  padding: 0;

  &__item {
    display: flex;
    align-items: center;
    width: 100%;
    font-family: $font__decor;
    line-height: 1;
    font-style: normal;
    font-weight: 700;
    font-size: clamp(46px, 8.9vw, 170px);
    text-transform: uppercase;
    white-space: nowrap;
    gap: clamp(15px, 3.2vw, 60px);
    margin-top: clamp(15px, 3.2vw, 60px);

    &:nth-child(1) {
      @include screen('sm') {
        margin-left: min(-200px, -26vw);
      }
      @include screen('md-up') {
        margin-left: min(-320px, -26vw);
      }
    }
    &:nth-child(2) {
      @include screen('sm') {
        margin-left: min(-235px, -30vw);
      }
      @include screen('md-up') {
        margin-left: min(-365px, -37vw);
      }
    }
    &:nth-child(3) {
      @include screen('sm') {
        margin-left: -70px;
      }
      @include screen('md') {
        margin-left: $content__indent-x_md;
      }
      @include screen('lg') {
        margin-left: $content__indent-x_lg;
      }
    }
  }

  &__link {
    color: $color__blue;
    text-decoration: none;
    font-family: $font__default;
    font-size: clamp(36px, 5vw, 100px);
  }
}