.project-back {
  font-size: clamp(14px, 2vw, 25px);
  text-transform: uppercase;

  a {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: inherit;
    transition: color .2s ease-in;

    &:hover {
      color: $color__blue;
    }

    &:deep(.icon) {
      margin-right: max(15px, 1.3vw);
    }
  }
}