.page-portfolio {
  &__title {
    position: absolute;
    left: -9999px;
  }
}

.portfolio-categories {
  list-style: none;
  margin: 0;
  padding: 0;

  &__item {

  }
  &__title {
    text-decoration: none;
  }
}