.page-portfolio {
  &__title {
    position: absolute;
    left: -9999px;
  }
}

.portfolio-categories {
  list-style: none;
  margin: 0;
  padding: 0;

  &__item {

  }
  &__title {
    margin: 0;

    a {
      font-family: 'Manrope';
      font-style: normal;
      font-weight: 700;
      font-size: 170px;
      font-size: clamp(36px, 170px, 12vw);
      text-decoration: none;
      text-transform: uppercase;
      transition: color .2s ease-in;
      @include text-outline($color__white, $color__dark);

      &:hover {
        color: $color__white;
      }
    }
  }
}