.title-outline {
  display: inline-block;
  margin: 0;

  &:not(&_inverse) {
    @include text-outline($color__white);
  }

  &_inverse {
    @include text-outline($color__dark);
  }

  &_hoverable {
    position: relative;

    @include screen('md-up') {
      white-space: nowrap;
    }

    &::after {
      content: attr(data-hover);
      color: $color__white;
      overflow: hidden;
      position: absolute;
      top: 0;
      left: 0;
      width: 0;
      transition: width .5s cubic-bezier(0.17, 0.67, 0.32, 0.87);
    }

    &:hover {
      &:after {
        width: 100%;
      }
    }
  }
}