.header {
  @include widget-bg();
  position: fixed;
  z-index: 70;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;

  @include screen('sm') {
    height: $header__height_sm;
    padding: 0 20px;
  }
  @include screen('md') {
    height: $header__height_md;
    padding: 0 30px;
  }
  @include screen('lg') {
    height: $header__height_lg;
    padding: 0 60px;
  }

  &__nav {
    margin-left: auto;
  }

  &__menu {

  }

  &__burger {
    @include screen('md-up') {
      display: none;
    }
  }
}