.header {
  position: fixed;
  z-index: 70;
  top: 0;
  left: 0;
  right: 0;
  height: $header__height;
  display: flex;
  align-items: center;
  padding: 0 60px;
  background: rgba(26, 26, 26, 0.8);
  backdrop-filter: blur(6.5px);

  &__nav {
    margin-left: auto;
  }
}

.nav {
  &__list {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    gap: 52px;
  }
  &__item {
    font-weight: 400;
    font-size: 20px;
  }
  &__link {
    font: inherit;
    text-decoration: none;
    transition: color .2s ease-in;

    &.router-link-active,
    &.router-link-exact-active,
    &:hover {
      color: $color__blue;
    }
  }
}