.page-category {
  &__title {
    font-weight: 700;
    font-size: 150px;
    @include text-outline($color__white, $color__dark);
  }
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  gap: 15px;

  li {
    width: 25%;

    img {
      width: 100%;
    }
  }
}