.portfolio-categories {
  list-style: none;
  margin: 0;
  padding: 0;

  &__item {
    & + * {
      margin-top: 3vmax;
    }
  }

  &__title {
    text-decoration: none;
  }

  &__title-text {
    font-size: clamp(36px, 120px, 6vmax);
    text-transform: uppercase;
  }
}