.portfolio-categories {
  list-style: none;
  margin: 0;
  padding: 0;

  &__item {
    & + * {
      margin-top: 3vmax;
    }
  }

  &__title {
    text-decoration: none;
  }

  &__title-text {
    font-size: clamp(30px, 6vmax, 120px);
    text-transform: uppercase;
    font-weight: 700;
  }
}